header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method='GET')
                input(type="text",placeholder="Search..",name='searchTerm')
                button(type='submit')
                    i.fas.fa-search
        .header__column
            ul
                li
                    a(href=routes.join) Sign Up 
                li
                    a(href=routes.login) Login